{"weather_icons"
 {"few clouds" "\\SunCloud"
  "snow" "\\Snow"
  "shower rain" "\\RainCloud"
  "overcast clouds" "\\Cloud"
  "broken clouds" "\\Cloud"
  "clear sky" "\\Sun"
  "rain" "\\RainCloud"
  "scattered clouds" "\\Cloud"
  "thunderstorm" "\\Lightning"
  "light rain" "\\WeakRainCloud"
  "mist" "\\Fog"}}
